body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background: #ffdaf3;
            color: #333;
        }

        header {
            display: flex;
            align-items: center;
            justify-content: space-between; /* Ícone esquerda / textos centro / contatos direita */
            padding: 20px;
            background: #ffbfd4;
            border-bottom: 3px solid #ffffff; /**/
        }

        .titulo {
            padding-left: 12.5rem;
            text-align: center;
            flex: 1; /* garante que o centro realmente fique no centro */
        }

        header h1 {
            margin: 0;
            font-size: 40px;
            color: #99478e;
        }
        
        header h2 {
            margin: 5px 0 20px 0;
            font-size: 20px;
            color: #b65e86;
        }

        #contatos {
            text-align: left;
        }

        /* Seção Sobre */
        #Inicio {
            padding: 40px 20px;
            text-align: center;
        }

        #Inicio h1 {
            font-size: 32px;
            color: #c26a90;
        }

        #Inicio h3 {
            font-weight: normal;
            max-width: 700px;
            margin: auto;
            line-height: 1.5;
        }

        /* Portfólio */
        #portfolio {
            padding: 40px 20px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            gap: 20px;
        }

        #portfolio img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-radius: 15px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.15);
            transition: 0.3s ease;
        }

        #portfolio img:hover {
            transform: scale(1.05);
        }

        .icone-header {
            width: 80px; /* Ajuste se quiser */
            opacity: 0.5; /* 50% transparente */
            
        }
